# User-specific stuff
.idea/
*.iml
*.ipr
*.iws

# Gradle & Build output
.gradle/
build/
target/
out/
bin/

# Package Files
*.jar
*.war
*.zip
*.tar.gz

# Logs & temp
*.log
hs_err_pid*
.DS_Store
Thumbs.db
.agents/
